* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    width: 100%;
    position: relative;
}

/*-------------- NAVIGATION REALATED STYLES --------------*/
/* BASIC NAV TAG SETUP */
nav {
    margin: 0px;
    height: 53px;
    position: fixed;
    top: 0px;
    font-weight: bold;
    background-color: #1212124a;
}

/* LOGO SETUP */
nav img {
    width: 65px;
    height: 33px;
}

#img-back {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#vignette:after {
    content: '';
    opacity: 0.5;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: inset 0px 0px 150px black;  
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgba(187, 152, 152, 0.138));
}

/* SEARCH BAR SETUP */
#search-bar {
    height: 32px;
    width: 800px;
    padding: 8px;
    font-weight: 300;
    margin-left: -4px;
    outline: rgb(246,200,0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search-bar-select {
    width: 50px;
    height: 32px;
    padding: 2px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#search-bar-select:hover{
    width: 50px;
    height: 32px;
    padding: 2px;
    opacity: 0.9;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* MENU AND FAVS */
#fav-btn, #menu-btn {
    padding: 8px;
    margin: 0 30px;
    transition: 0.2s ease background-color;
}

button p {
    padding: 0 2px;
}

#fav-btn:hover, #menu-btn:hover {
    color: black;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.36);
}


/*-------------- HEADER SECTION --------------*/
header {
    top: 205px;
    left: 4vw;
    width: auto;
    position: absolute;
}

.header-txt {
    width: 45%;
    margin: 20px 0;
    font-weight: 500;
    font-size: 1.2vw;
}

#trend-img {
    width: 36vw;
}

#play, #info {
    padding: 10px;
}

#play {
    width: 9.5%;
    color: black;
    background-color: rgba(255, 255, 255, 0.855);
}

#info {
    width: 14%;
    margin-left: 15px;
    background-color: #3a3434b8;
}

.header-btn-txt {
    font-weight: bold;
    font-size:x-large;
}

/*-------------- SEARCH BOX --------------*/
section {
    margin: 40% auto;
}

#outline {
    width: 80%;
    height: 6vh;
    background-color: #74746fa2;
}

#search-box {
    width: 98%;
    height: 5vh;
    margin: auto;
    background-color: #000000a2;
}

/*-------------- MOVIE TILES --------------*/
#movie-tile {
    width: 20%;
    height: 56vh;
    border: 2px solid red;
}

/*-------------- RESPONSIVE SECTION --------------*/


@media only screen and (max-width: 1280px) and (min-width: 1608px) {
    #search-bar {
        width: 500px;
    }

    #play, #info {
        padding: 2px;
    }
    
    #play {
        width: 9.5%;
        color: black;
        background-color: white;
    }
    
    #info {
        width: 18%;
        margin-left: 15px;
        background-color: #74746f;
    }
    
    .header-btn-txt {
        font-weight: bold;
        font-size:medium;
    }

    #outline {
        margin: 55% auto;
        display: block;
    }
}

@media only screen and (max-width: 1609px) {
    #search-bar {
        width: 150px;
    }

    header {
        top: 135px;
    }

    #play, #info {
        padding: 10px;
    }
    
    #play {
        width: 10%;
        color: black;
        background-color: white;
    }
    
    #info {
        width: 18%;
        margin-left: 15px;
        background-color: #74746f;
    }
    
    .header-btn-txt {
        font-weight: bold;
        font-size:large;
    }

    #outline {
        margin: 55% auto;
    }
}

@media only screen and (max-width: 1052px) and (min-width: 700px) {
    header {
        top: 135px;
    }

    #play, #info {
        padding: 10px;
    }
    
    #play {
        width: 20%;
        color: black;
        background-color: white;
    }
    
    #info {
        width: 30%;
        margin-left: 15px;
        background-color: #74746f;
    }
    
    .header-btn-txt {
        font-weight: bold;
        font-size:large;
    }

    #outline {
        margin: 55% auto;
    }
}


@media only screen and (max-width: 700px) and (min-width: 639px) {
    #menu-btn-txt, #search-bar, #search-bar-select {
        display: none;
    }

    #menu-btn {
        position: relative;
        right: 200px;
    }

    nav img {
        position: relative;
        left: -50px;
    }

    #fav-btn {
        position: relative;
        left: 120px;
    }

    header div, #vignette {
        display: none;
        position: absolute;
    }

    #outline {
        margin: 55% auto;
    }

}


@media only screen and (max-width: 639px) and (min-width: 566px) {
    #menu-btn-txt, #search-bar, #search-bar-select {
        display: none;
    }

    #menu-btn {
        position: relative;
        right: 280px;
    }

    nav img {
        position: relative;
        left: 45px;
    }

    #fav-btn {
        display: none;
    }

    header div, #vignette {
        display: none;
        position: absolute;
    }

    #outline {
        margin: 55% auto;
    }
}

@media only screen and (max-width: 566px) {
    #menu-btn-txt, #search-bar, #search-bar-select {
        display: none;
    }

    #menu-btn {
        position: relative;
        right: 260px;
    }

    nav img {
        position: relative;
        left: 45px;
    }

    #fav-btn {
        display: none;
    }

    header div, #vignette {
        display: none;
        position: absolute;
    }

    #outline {
        margin: 60% auto;
    }

}

@media only screen and (max-width: 526px) {
    #menu-btn {
        right: 240px;
    }

    #outline {
        margin: 60% auto;
    }
}

@media only screen and (max-width: 498px) {
    #menu-btn {
        right: 200px;
    }

    #outline {
        margin: 80% auto;
    }
}

